body{
    font-family: 'Poppins', sans-serif;
}

/* carousel responsive */
@media only screen and (max-width:576px) {
    .carousel-custom-items h1{
       font-size:12px;
    }
    .carousel-custom-items p{
       font-size: 7px;
    }
   .carousel-custom-items{
        top: 14%;
   }
   .custom-btn{
       padding: 6px 10px;
   }

   
}

/* cover picture style */
#cover-picture{
    filter:brightness(50%)
}

#readyTo-join-button{
    background-color:289BDE ;
}

#explore-learning{
    background-color: F4FAFD;
}

#explore-working-text{
    background-color: F4FAFD;
}
